<div class="row">
    <div class="col">
      <div class="row">
        <div class="col">
          <h1> Регистрации </h1>
        </div>
        <% if allowed_to?(:new?, @registations) %>
        <div class="col">
          <%= link_to "Добавить" , new_registation_info_path, class: "btn btn-lg btn-primary float-end" %>
        </div>
        <% end %>
      </div>
  
      <table class="table table-border">
        <tr class = "table-primary">
            <th>Государственный номер</th>
            <th>Дата регистрации</th>
            <th></th>
        </tr>
        <% @registations.each do |reg| %>
          <tr class="table-light">
            <td><%= reg.state_number %></td>
            <td><%= reg.date_of_registation %></td>
            <td>
                <% if allowed_to?(:edit?, reg) %>
                  <%= link_to "Редактировать", edit_registation_info_path(reg), class: "btn btn-sm btn-primary" %>
                <% end %>
                <% if allowed_to?(:destroy?, reg) %>
                  <%= link_to "Удалить", registation_info_path(reg), method: :delete, class: "btn btn-sm btn-danger" %>
                <% end %>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
  