<div class="row">
    <div class="col">
      <div class="row">
        <div class="col">
          <h1> Информация об владельцах авто </h1>
        </div>
        <% if allowed_to?(:new?, @holders) %>
        <div class="col">
          <%= link_to "Добавить" , new_car_holder_info_path, class: "btn btn-lg btn-primary float-end" %>
        </div>
        <% end %>
      </div>
  
      <table class="table table-border">
        <tr class = "table-primary">
            <th>ФИО</th>
            <th>Дата рождения</th>
            <th>Дата получения прав</th>
            <th></th>
        </tr>
        <% @holders.each do |holder| %>
          <tr class="table-light">
            <td><%= holder.full_name %></td>
            <td><%= holder.date_of_birth %></td>
            <td><%= holder.date_of_car_license %></td>
            <td>
                <% if allowed_to?(:edit?, holder) %>
                  <%= link_to "Редактировать", edit_car_holder_info_path(holder), class: "btn btn-sm btn-primary" %>
                <% end %>
                <% if allowed_to?(:destroy?, holder) %>
                  <%= link_to "Удалить", car_holder_info_path(holder), method: :delete, class: "btn btn-sm btn-danger" %>
                <% end %>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
  