<div class="row">
  <div class="col">
    <div class="row">
      <div class="col">
        <h1> Информация об авто </h1>
      </div>
      <div class="col">
        <%= link_to "Добавить", new_car_info_path, class: "btn btn-lg btn-primary float-end" %>
      </div>
    </div>

    <table class="table table-border">
      <tr class = "table-primary">
          <th>VIN номер</th>
          <th>Марка</th>
          <th>Модель</th>
          <th></th>
      </tr>
      <% @cars.each do |car| %>
        <tr class="table-light">
          <td><%= car.VIN %></td>
          <td><%= car.brand %></td>
          <td><%= car.model %></td>
          <td>
            <% if allowed_to?(:edit?, car) %>
              <%= link_to "Редактировать", edit_car_info_path(car), class: "btn btn-sm btn-primary" %>
            <% end %>
            <% if allowed_to?(:destroy?, car) %>
              <%= link_to "Удалить", car_info_path(car), method: :delete, class: "btn btn-sm btn-danger" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
