<header class = "navbar navbar-expand-lg bg-light">
    <div class = "container-fluid ">
        <nav>
            <ul class ="nav navbar-nav">
                <li class ="nav-link"><%= link_to "Главная", '#' %> </li>
                <li class ="nav-link"><%= link_to "Информация об авто", '#' %> </li>
                <li class ="nav-link"><%= link_to "Владельцы авто", '#' %> </li>
                <li class ="nav-link"><%= link_to "Регистрация авто", '#' %> </li>
                <li class ="nav-link"><%= link_to "Штрафы авто", '#' %> </li>
                <li class ="nav-link"><%= link_to "Жалобы авто", '#' %> </li>
                <li class ="nav-link"><%= link_to "Розыск", wanted_lists_path %> </li>
                <li class ="nav-link voity"><%= link_to "Войти", '#' %> </li>
            </ul>
        </nav>
    </div>
</header>