<header class = "navbar navbar-fixed-top navbar-inverse">
    <div class = "container-fluid center">
        <nav>
            <ul class ="nav navbar-nav">
                <li><%= link_to "Главная", '#' %> </li>
                <li><%= link_to "Информация об авто", '#' %> </li>
                <li><%= link_to "Владельцы авто", '#' %> </li>
                <li><%= link_to "Регистрация авто", '#' %> </li>
                <li><%= link_to "Штрафы авто", '#' %> </li>
                <li><%= link_to "Жалобы авто", '#' %> </li>
                <li><%= link_to "Розыск", wanted_lists_path %> </li>
            </ul>
        </nav>
    </div>
</header>  